<p>
  <b>Assignmentcontact:</b>
  <%=h @person.assignmentcontact %>
</p>

<p>
  <b>Assignmentcontactcn:</b>
  <%=h @person.assignmentcontactcn %>
</p>

<p>
  <b>Businessdivision:</b>
  <%=h @person.businessdivision %>
</p>

<p>
  <b>Businessdivisioncode:</b>
  <%=h @person.businessdivisioncode %>
</p>

<p>
  <b>Cn:</b>
  <%=h @person.cn %>
</p>

<p>
  <b>Co:</b>
  <%=h @person.co %>
</p>

<p>
  <b>Contractagency:</b>
  <%=h @person.contractagency %>
</p>

<p>
  <b>Contractagencycode:</b>
  <%=h @person.contractagencycode %>
</p>

<p>
  <b>Countrycode:</b>
  <%=h @person.countrycode %>
</p>

<p>
  <b>Departmentnumber:</b>
  <%=h @person.departmentNumber %>
</p>

<p>
  <b>Departmentname:</b>
  <%=h @person.departmentname %>
</p>

<p>
  <b>Description:</b>
  <%=h @person.description %>
</p>

<p>
  <b>Dn:</b>
  <%=h @person.dn %>
</p>

<p>
  <b>Dnum:</b>
  <%=h @person.dnum %>
</p>

<p>
  <b>Employeenumber:</b>
  <%=h @person.employeeNumber %>
</p>

<p>
  <b>Empnonempind:</b>
  <%=h @person.empnonempind %>
</p>

<p>
  <b>Facsimiletelephonenumber:</b>
  <%=h @person.facsimileTelephoneNumber %>
</p>

<p>
  <b>Formalmiddlename:</b>
  <%=h @person.formalmiddlename %>
</p>

<p>
  <b>Formalnamesuffix:</b>
  <%=h @person.formalnamesuffix %>
</p>

<p>
  <b>Formalsalutation:</b>
  <%=h @person.formalsalutation %>
</p>

<p>
  <b>Givenname:</b>
  <%=h @person.givenName %>
</p>

<p>
  <b>Hrinfosourcecode:</b>
  <%=h @person.hrinfosourcecode %>
</p>

<p>
  <b>Inetemailflag:</b>
  <%=h @person.inetemailflag %>
</p>

<p>
  <b>L:</b>
  <%=h @person.l %>
</p>

<p>
  <b>Lablocation:</b>
  <%=h @person.lablocation %>
</p>

<p>
  <b>Mail:</b>
  <%=h @person.mail %>
</p>

<p>
  <b>Manager:</b>
  <%=h @person.manager %>
</p>

<p>
  <b>Managercn:</b>
  <%=h @person.managercn %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @person.mobile %>
</p>

<p>
  <b>Mrkbusinessunitdesc:</b>
  <%=h @person.mrkBusinessUnitDesc %>
</p>

<p>
  <b>Mrkbusinessunitid:</b>
  <%=h @person.mrkBusinessUnitID %>
</p>

<p>
  <b>Mrkbusinessunitname:</b>
  <%=h @person.mrkBusinessUnitName %>
</p>

<p>
  <b>Mrkbusinessunitsetid:</b>
  <%=h @person.mrkBusinessUnitSetID %>
</p>

<p>
  <b>Mrkcwdesc:</b>
  <%=h @person.mrkCWDesc %>
</p>

<p>
  <b>Mrkcwtype:</b>
  <%=h @person.mrkCWType %>
</p>

<p>
  <b>Mrkcompanydesc:</b>
  <%=h @person.mrkCompanyDesc %>
</p>

<p>
  <b>Mrkcompanyid:</b>
  <%=h @person.mrkCompanyID %>
</p>

<p>
  <b>Mrkcompanyname:</b>
  <%=h @person.mrkCompanyName %>
</p>

<p>
  <b>Mrkdivisiondesc:</b>
  <%=h @person.mrkDivisionDesc %>
</p>

<p>
  <b>Mrkdivisionid:</b>
  <%=h @person.mrkDivisionID %>
</p>

<p>
  <b>Mrkdivisionname:</b>
  <%=h @person.mrkDivisionName %>
</p>

<p>
  <b>Mrkfsrbg:</b>
  <%=h @person.mrkFSRBG %>
</p>

<p>
  <b>Mrkfsterritoryassignmenteffectivedate:</b>
  <%=h @person.mrkFSTerritoryAssignmentEffectiveDate %>
</p>

<p>
  <b>Mrkjobcodesetid:</b>
  <%=h @person.mrkJobCodeSetID %>
</p>

<p>
  <b>Mrkorgdesc:</b>
  <%=h @person.mrkOrgDesc %>
</p>

<p>
  <b>Mrkorgid:</b>
  <%=h @person.mrkOrgID %>
</p>

<p>
  <b>Mrkorgname:</b>
  <%=h @person.mrkOrgName %>
</p>

<p>
  <b>Mrkpkisubscriberagreementflag:</b>
  <%=h @person.mrkPKISubscriberAgreementFlag %>
</p>

<p>
  <b>Mrkpkia1:</b>
  <%=h @person.mrkPKIa1 %>
</p>

<p>
  <b>Mrkpkia2:</b>
  <%=h @person.mrkPKIa2 %>
</p>

<p>
  <b>Mrkpositionsetid:</b>
  <%=h @person.mrkPositionSetID %>
</p>

<p>
  <b>Mrkrevoked:</b>
  <%=h @person.mrkRevoked %>
</p>

<p>
  <b>Mrkrevokedeffective:</b>
  <%=h @person.mrkRevokedEffective %>
</p>

<p>
  <b>Mrkrevokedlastmodified:</b>
  <%=h @person.mrkRevokedLastModified %>
</p>

<p>
  <b>Mrkrole:</b>
  <%=h @person.mrkRole %>
</p>

<p>
  <b>Mrksrchfirstname:</b>
  <%=h @person.mrkSrchFirstName %>
</p>

<p>
  <b>Mrksrchlastname:</b>
  <%=h @person.mrkSrchLastName %>
</p>

<p>
  <b>Mrksubdivisiondesc:</b>
  <%=h @person.mrkSubDivisionDesc %>
</p>

<p>
  <b>Mrksubdivisionid:</b>
  <%=h @person.mrkSubDivisionID %>
</p>

<p>
  <b>Mrksubdivisionname:</b>
  <%=h @person.mrkSubDivisionName %>
</p>

<p>
  <b>Mrksuperdivisiondesc:</b>
  <%=h @person.mrkSuperDivisionDesc %>
</p>

<p>
  <b>Mrksuperdivisionid:</b>
  <%=h @person.mrkSuperDivisionID %>
</p>

<p>
  <b>Mrksuperdivisionname:</b>
  <%=h @person.mrkSuperDivisionName %>
</p>

<p>
  <b>Mrksuperorgdesc:</b>
  <%=h @person.mrkSuperOrgDesc %>
</p>

<p>
  <b>Mrksuperorgid:</b>
  <%=h @person.mrkSuperOrgID %>
</p>

<p>
  <b>Mrksuperorgname:</b>
  <%=h @person.mrkSuperOrgName %>
</p>

<p>
  <b>Mrkvisible:</b>
  <%=h @person.mrkVisible %>
</p>

<p>
  <b>Mrkdisplayname1:</b>
  <%=h @person.mrkdisplayname1 %>
</p>

<p>
  <b>Mrkdisplayname2:</b>
  <%=h @person.mrkdisplayname2 %>
</p>

<p>
  <b>Mrkmsxmail:</b>
  <%=h @person.mrkmsxmail %>
</p>

<p>
  <b>Mrkselfservefirstvisited:</b>
  <%=h @person.mrkselfservefirstvisited %>
</p>

<p>
  <b>Mrkselfservelastconfirmed:</b>
  <%=h @person.mrkselfservelastconfirmed %>
</p>

<p>
  <b>Mrkselfservelastedited:</b>
  <%=h @person.mrkselfservelastedited %>
</p>

<p>
  <b>Mrkselfservelastvisited:</b>
  <%=h @person.mrkselfservelastvisited %>
</p>

<p>
  <b>Mrksubdivision:</b>
  <%=h @person.mrksubdivision %>
</p>

<p>
  <b>Mrksubdivisioncode:</b>
  <%=h @person.mrksubdivisioncode %>
</p>

<p>
  <b>Mvxnumber:</b>
  <%=h @person.mvxnumber %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @person.nickname %>
</p>

<p>
  <b>Nicknameuseind:</b>
  <%=h @person.nicknameuseind %>
</p>

<p>
  <b>Ntuserdomainid:</b>
  <%=h @person.ntUserDomainId %>
</p>

<p>
  <b>Ntdomain:</b>
  <%=h @person.ntdomain %>
</p>

<p>
  <b>Pager:</b>
  <%=h @person.pager %>
</p>

<p>
  <b>Physicaldeliveryofficename:</b>
  <%=h @person.physicalDeliveryOfficeName %>
</p>

<p>
  <b>Positiontitlenumber:</b>
  <%=h @person.positiontitlenumber %>
</p>

<p>
  <b>Preferredfirstname:</b>
  <%=h @person.preferredfirstname %>
</p>

<p>
  <b>Preferredlastname:</b>
  <%=h @person.preferredlastname %>
</p>

<p>
  <b>Preferredmiddlename:</b>
  <%=h @person.preferredmiddlename %>
</p>

<p>
  <b>Preferrednamequalifier:</b>
  <%=h @person.preferrednamequalifier %>
</p>

<p>
  <b>Preferrednamesuffix:</b>
  <%=h @person.preferrednamesuffix %>
</p>

<p>
  <b>Preferredsalutation:</b>
  <%=h @person.preferredsalutation %>
</p>

<p>
  <b>Roomnumber:</b>
  <%=h @person.roomNumber %>
</p>

<p>
  <b>Secretary:</b>
  <%=h @person.secretary %>
</p>

<p>
  <b>Secretarycn:</b>
  <%=h @person.secretarycn %>
</p>

<p>
  <b>Securidexpdate:</b>
  <%=h @person.securidexpdate %>
</p>

<p>
  <b>Securidserialnum:</b>
  <%=h @person.securidserialnum %>
</p>

<p>
  <b>Sitecode:</b>
  <%=h @person.sitecode %>
</p>

<p>
  <b>Sn:</b>
  <%=h @person.sn %>
</p>

<p>
  <b>Telephonenumber2:</b>
  <%=h @person.telephoneNumber2 %>
</p>

<p>
  <b>Telephonenumber:</b>
  <%=h @person.telephoneNumber %>
</p>

<p>
  <b>Title:</b>
  <%=h @person.title %>
</p>

<p>
  <b>Uid:</b>
  <%=h @person.uid %>
</p>

<p>
  <b>Version:</b>
  <%=h @person.version %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
